biopython
bs4
cloud-sptheme
Keras
Keras-Applications 
Keras-Preprocessing 
macholib 
Markdown
matplotlib
numpy 
opencv-python 
pandas 
Pillow 
pyfiglet 
pygame 
pytube 
pyzbar 
qrcode 
requests 
scikit-learn 
scipy 
seaborn 
setuptools 
six 
sklearn 
Sphinx 
sphinxcontrib-websupport 
tensorboard 
tensorflow 
tqdm 
youtube-dl
